In [1]:
import pandas as pd


data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
    'Temperature': [32, 75, 30, 78]
}

df = pd.DataFrame(data)

pivot_df = df.pivot(index='Date', columns='City', values='Temperature')
print(pivot_df)

City        Los Angeles  New York
Date
2024-01-01           75        32
2024-01-02           78        30

 Using pivot_table() Function

In [2]:

data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02', '2024-01-01'],
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'New York'],
    'Sales': [200, 400, 150, 450, 250]
}

df = pd.DataFrame(data)

pivot_table_df = df.pivot_table(index='Date', columns='City', values='Sales', aggfunc='sum', fill_value=0)
print(pivot_table_df)

City        Los Angeles  New York
Date
2024-01-01          400       450
2024-01-02          450       150

Multi-Level Indexing

In [3]:

data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02', '2024-01-01'],
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'New York'],
    'Product': ['A', 'A', 'B', 'B', 'A'],
    'Sales': [200, 400, 150, 450, 250]
}

df = pd.DataFrame(data)


pivot_table_multi_df = df.pivot_table(index=['Date', 'Product'], columns='City', values='Sales', aggfunc='sum', fill_value=0)
print(pivot_table_multi_df)

City                Los Angeles  New York
Date       Product
2024-01-01 A                400       450
2024-01-02 B                450       150

Using Multiple Aggregation Functions

In [4]:

data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
    'Sales': [200, 400, 150, 450],
    'Profit': [50, 100, 75, 125]
}

df = pd.DataFrame(data)


pivot_table_multi_agg_df = df.pivot_table(index='Date', columns='City', values=['Sales', 'Profit'], aggfunc=['sum', 'mean'])
print(pivot_table_multi_agg_df)

                   sum                                      mean           \
                Profit                Sales               Profit
City       Los Angeles New York Los Angeles New York Los Angeles New York
Date
2024-01-01         100       50         400      200       100.0     50.0
2024-01-02         125       75         450      150       125.0     75.0


                 Sales
City       Los Angeles New York
Date
2024-01-01       400.0    200.0
2024-01-02       450.0    150.0

Cross Tabulation with pivot_table()

In [5]:

data = {
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'New York'],
    'Product': ['A', 'A', 'B', 'B', 'A'],
    'Sales': [200, 400, 150, 450, 250]
}

df = pd.DataFrame(data)

pivot_table_cross_tab = df.pivot_table(index='City', columns='Product', values='Sales', aggfunc='sum', fill_value=0)
print(pivot_table_cross_tab)

Product        A    B
City
Los Angeles  400  450
New York     450  150